<?xml version="1.0"?>
<configuration>
    <system.web>
      <authentication mode="Forms">
        <forms loginUrl="Login.aspx" defaultUrl="~/Welcome.aspx">
          <credentials passwordFormat="Clear">
            <user name="Admin" password="1234"/>
          </credentials>          
        </forms>
      </authentication>

      <authorization>
        <deny users="?"/>
      </authorization>

    </system.web>
</configuration>
